In [1]:
import math
import numpy as np

import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

sns.set()
sns.set_context("paper", font_scale=1.2)
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv("../test_images/dynamic_unknowndeg_0to360_5degstep/fine_scores_linefit_eps2.csv")

In [3]:
df

,img_number,iterations,loss,roll,pitch,yaw,x,y,z
0,0,1288,3.861514e+02,2.705251,-97.550000,87.000000,0.114264,0.054625,-0.400000
1,1,756,1.050313e-11,-8.792401,-108.997907,89.582224,0.227290,0.165259,-0.258499
2,2,546,1.344628e-11,-12.841861,-109.662952,88.560803,0.227843,0.168713,-0.341809
3,3,539,1.743068e-09,-18.080766,-109.990693,88.802768,0.228129,0.168919,-0.451883
4,4,497,1.355868e+00,-26.080766,-111.363104,91.951286,0.226060,0.149381,-0.518505
...,...,...,...,...,...,...,...,...,...
68,68,476,6.316359e-02,-152.756194,-116.097010,-98.655675,0.121492,0.129389,-0.784776
69,69,364,2.722300e-01,-154.129103,-117.302377,-102.254955,0.110737,0.145633,-0.960581
70,70,273,8.634383e-02,-155.845001,-118.833171,-105.124379,0.099020,0.154535,-1.076342
71,71,1652,9.615106e+01,-158.620335,-119.947848,-107.522630,0.090212,0.173241,-1.276759
72,72,357,1.333470e-01,-158.607685,-119.715119,-112.801702,0.071532,0.199852,-1.614853

In [69]:
df.iloc[:, -6:].diff()

         roll      pitch       yaw         x         y         z
0         NaN        NaN       NaN       NaN       NaN       NaN
1  -11.497652 -11.447907  2.582224  0.113026  0.110634  0.141501
2   -4.049460  -0.665046 -1.021420  0.000553  0.003454 -0.083310
3   -5.238905  -0.327741  0.241964  0.000286  0.000206 -0.110074
4   -8.000000  -1.372411  3.148519 -0.002069 -0.019538 -0.066622
..        ...        ...       ...       ...       ...       ...
68  -2.582983  -1.398347 -2.308226 -0.010008  0.014929 -0.121838
69  -1.372909  -1.205366 -3.599280 -0.010755  0.016244 -0.175805
70  -1.715897  -1.530794 -2.869424 -0.011718  0.008902 -0.115761
71  -2.775334  -1.114678 -2.398251 -0.008808  0.018706 -0.200417
72   0.012650   0.232729 -5.279072 -0.018680  0.026611 -0.338094

[73 rows x 6 columns]

In [70]:
df.iloc[:, -6:].diff().rolling(window=2).mean()

        roll     pitch       yaw         x         y         z
0        NaN       NaN       NaN       NaN       NaN       NaN
1        NaN       NaN       NaN       NaN       NaN       NaN
2  -7.773556 -6.056476  0.780402  0.056790  0.057044  0.029095
3  -4.644182 -0.496393 -0.389728  0.000419  0.001830 -0.096692
4  -6.619452 -0.850076  1.695241 -0.000892 -0.009666 -0.088348
..       ...       ...       ...       ...       ...       ...
68 -2.242173 -1.346364 -2.635089 -0.009744  0.013617 -0.146019
69 -1.977946 -1.301856 -2.953753 -0.010381  0.015587 -0.148822
70 -1.544403 -1.368080 -3.234352 -0.011236  0.012573 -0.145783
71 -2.245616 -1.322736 -2.633837 -0.010263  0.013804 -0.158089
72 -1.381342 -0.440974 -3.838662 -0.013744  0.022659 -0.269255

[73 rows x 6 columns]

In [66]:
((df.iloc[:, -6:].diff() - df.iloc[:, -6:].diff().rolling(window=3).mean()) ** 2)

        roll      pitch       yaw             x         y         z
0        NaN        NaN       NaN           NaN       NaN       NaN
1        NaN        NaN       NaN           NaN       NaN       NaN
2        NaN        NaN       NaN           NaN       NaN       NaN
3   2.855313  14.585959  0.128851  1.418968e-03  0.001436  0.008608
4   5.005117   0.341070  5.564084  2.751801e-06  0.000203  0.000402
..       ...        ...       ...           ...       ...       ...
68  0.648159   0.117720  0.695930  8.703669e-07  0.000006  0.001023
69  0.335831   0.008836  0.413184  4.544636e-07  0.000003  0.000394
70  0.030520   0.023294  0.003161  7.935647e-07  0.000020  0.000486
71  0.673418   0.028539  0.310695  2.621603e-06  0.000017  0.001327
72  2.266562   1.075321  3.109897  3.149137e-05  0.000073  0.014401

[73 rows x 6 columns]

In [64]:
for ma in range(3, 15):
    df_ma_diff = ((df.iloc[:, -6:].diff() - df.iloc[:, -6:].diff().rolling(window=ma).mean()) ** 2)
    print("RMSE for moving average " + str(ma) + " = " + str(np.sum(np.sqrt((df_ma_diff.sum() / (len(df) - ma))))))

RMSE for moving average 3 = 7.239043008026549
RMSE for moving average 4 = 8.402105387327211
RMSE for moving average 5 = 9.180959873663651
RMSE for moving average 6 = 9.658183067691805
RMSE for moving average 7 = 10.194866757306018
RMSE for moving average 8 = 10.301119880241318
RMSE for moving average 9 = 10.506218837980276
RMSE for moving average 10 = 10.708923663188093
RMSE for moving average 11 = 10.716823938749037
RMSE for moving average 12 = 10.742773610862402
RMSE for moving average 13 = 10.7938734030945
RMSE for moving average 14 = 10.952284192154933

In [ ]:
mean_diff = np.mean(np.diff(np.array(fine_data[-n_ma:]), axis=0), axis=0)
std_diff = np.std(np.diff(np.array(fine_data[-n_ma:]), axis=0), axis=0)
deg_roll_sma = mean_diff[3]
deg_pitch_sma = mean_diff[4]
deg_yaw_sma = mean_diff[5]
trans_x_sma = mean_diff[6]
trans_y_sma = mean_diff[7]
trans_z_sma = mean_diff[8]